html 
{
    white-space: nowrap;
}
body
{
    background-color: darkslategrey ;
    color: white;
}
#name
{
    color: white;
    position: relative;
    font-size: 50px;
    font-family: sans-serif;
}
#photo
{
    width: 600px;
    height: 600px;
    position: relative;
    border-radius: 50%;
    top: -10vh;
}
#intro1
{
    color: white;
    position: relative;
    font-size: 35px;
    word-wrap: break-word;
}
#section1
{
    position:absolute;
    background-color:#D5C2A5;
    height: 1300px;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}
#abtme
{
    font-family: sans-serif;
    color: white;
    position: relative;
    top: 50%;
}
#bar
{
    color: darkslategray;
    background-color: white;;
    position: relative;
    width: auto;
    height: 10px;
    border-radius: 20px;
}
#info1
{
    position:relative;
    font-size:25px;
    font-family: sans-serif;
}
#contactTitle
{
    font-family: sans-serif;
    position: relative;
    font-size: 35px;
    top: 50%;
}
#projectTitle
{
    font-family: sans-serif;
    position: relative;
    font-size: 35px;
    top: 50%;
}
#contactInfo
{
    font-family: sans-serif;
    position: relative;
    font-size:25px;
}
#projectInfo
{
    font-family: sans-serif;
    position: relative;
    font-size:25px;
}
#gameImage1
{
    position: relative;
    width: 300px;
    height: 500px;
    top: -15vh;
}
#gameImage2
{
    position: relative;
    width: 300px;
    height: 500px;
    top: -15vh;
    left: -35vh;
}
.container
{
    width: 70%;
}

.parallax1{
    background-image: url("https://images.unsplash.com/photo-1476231682828-37e571bc172f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80") ;
    min-height: 500px;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.parallax2{
    background-image: url("https://img.freepik.com/free-photo/aerial-view-green-forest_144627-45271.jpg?w=2000&t=st=1676256261~exp=1676256861~hmac=4398196759be1096106bd270c4ed3a0c4efd48f94c8245c4cf9496731fcb710c") ;
    min-height: 500px;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.parallax3{
    background-image: url("https://img.freepik.com/free-photo/mesmerizing-scenery-green-mountains-with-cloudy-sky-surface_181624-27189.jpg?w=1800&t=st=1676256288~exp=1676256888~hmac=db9c81265fa03a15ff0e6e9f32049a1d01effae9a3ac67e37dfb97457186d9cc") ;
    min-height: 500px;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.parallax4{
    background-image: url("https://images.unsplash.com/photo-1511497584788-876760111969?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200&q=60") ;
    min-height: 500px;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

[class*="col-"] {
    width: 100%;
}
  
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


@media only screen and (max-width: 1200px){
    [class*="col-"]{
        width:100%;
    }
}