html 
{
    white-space: nowrap;
}
body
{
    background-color: darkslategrey ;
    color: white;
}
#name
{
    color: white;
    position: relative;
    font-size: 50px;
    font-family: "lucida handwriting";
}
#photo
{
    max-width: 100%;
    width: 80%;
    height: 60%;
    position: relative;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}
#intro1
{
    color: white;
    position: relative;
    font-size: 35px;
    word-wrap: break-word;
}
#section1
{
    position:absolute;
    background-color:#D5C2A5;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}
#abtme
{
    font-family: sans-serif;
    color: white;
    position: relative;
    top: 50%;
}
#bar
{
    color: darkslategray;
    background-color: white;;
    position: relative;
    width: auto;
    height: 10px;
    border-radius: 20px;
}
#info1
{
    position:relative;
    font-size:25px;
    font-family: sans-serif;
}
#contactTitle
{
    font-family: sans-serif;
    position: relative;
    font-size: 35px;
    top: 50%;
}
#projectTitle
{
    font-family: sans-serif;
    position: relative;
    font-size: 35px;
    top: 50%;
}
#contactInfo
{
    font-family: sans-serif;
    position: relative;
    font-size:25px;
}
#projectInfo
{
    font-family: sans-serif;
    position: relative;
    font-size:25px;
}
#gameImage1
{
    position: relative;
}
#gameImage2
{
    position: relative;
}
.container
{
    width: 70%;
}

.parallax1{
    background-image: url("https://img.freepik.com/free-photo/natural-green-leaves-with-defocused-background_23-2148282555.jpg?w=2000&t=st=1676340783~exp=1676341383~hmac=7e52c96c798619a376a6ef7dde1c33b42a26ff7da684749a2546e5c8b1472cf5") ;
    min-height: 500px;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.parallax2{
    background-image: url("https://img.freepik.com/free-vector/foliage-background_53876-112884.jpg?w=2000&t=st=1676340817~exp=1676341417~hmac=89ec3f5957bcf040471ee3dcbe96bc5610c4b0c2712e5f6eaaaee49aa69425f8") ;
    min-height: 500px;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

}

.parallax3{
    background-image: url("https://img.freepik.com/free-photo/branch-green-leaves-black-background_23-2147836991.jpg?w=1380&t=st=1676343334~exp=1676343934~hmac=0591d82582d7d9c6dfb527de2090fb59b3bf81433efd7e9ee57853aa04d94981") ;
    min-height: 500px;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.parallax4{
    background-image: url("https://img.freepik.com/free-vector/foliage-background_53876-112886.jpg?w=2000&t=st=1676340899~exp=1676341499~hmac=e10d4897c06e46d640fc046e98f7b26d7acb5126093ae1883f54e8c0e8b7e4df") ;
    min-height: 500px;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

[class*="col-"] {
    width: 100%;
}
  
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


@media only screen and (max-width: 1200px){
    [class*="col-"]{
        width:100%;
    }
}