#name
{
    color: black;
    position: absolute;
    top: 30px;
    left: 80px;
    font-size: 30px;
    font-family: sans-serif;
}
#photo
{
    display: flex;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 200px;
    top: 200px;
    border-radius: 50%;
}
#intro1
{
    display: flex;
    color: black;
    position: absolute;
    top:190px;
    left: 450px;
    font-size: 35px;
}
#section1
{
    position:absolute;
    background-color:#D5C2A5;
    height: 1300px;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}
#abtme
{
    display: flex;
    font-family: sans-serif;
    text-align: center;
    color: black;
    position: absolute;
    top: 550px;
    left: 550px;
    text-align: center;
}
#bar1
{
    display: flex;
    color: maroon;
    background-color: maroon;
    position: absolute;
    left: 320px;
    top: 595px;
    width: 600px;
    border-radius: 20px;
}

#info1
{
    display: flex;
    position:absolute;
    left: 390px;
    top: 650px;
    font-size:20px;
    font-family: sans-serif;
    text-align: center;
}
#contactTitle
{
    font-family: sans-serif;
    position: absolute;
    left: 950px;
    top: 1056px;
}
#contactInfo
{
    text-align: center;
    font-family: sans-serif;
    position: absolute;
    left: 870px;
    top: 1100px;
}
#bar2
{
    color: #D5C2A5;
    background-color: maroon;
    position: absolute;
    width: 500px;
    top: 1060px;
    left: 375px;
    border-radius: 10px;
    height: 5px;
}
#projects
{
    font-family: sans-serif;
    position: absolute;
    left: 200px;
    top: 1060px;
}
#projectInfo
{
    text-align: left;
    font-family: sans-serif;
    position: absolute;
    left: 180px;
    top: 1100px;
}